[user]
	email = 25070760+ethanbrown3@users.noreply.github.com
	name = ethanbrown3

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true

[rebase]
	autoStash = true
	autoSquash = true

[diff]
	algorithm = histogram

[merge]
	conflictStyle = zdiff3

[alias]
	lga = log --graph --oneline --all --decorate
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	gcg = config --edit --global
	gcl = config --edit --local
